body {
    font-family: arial, sans-serif;
    font-size: small;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.push {
    margin-left: auto;
}

a {
    margin: 10px 7px 10px 7px;
    text-decoration: none;
    color: rgba(73, 73, 73, 1);
}

a:hover {
    text-decoration: underline;
}

#sign-in, #sign-in:hover {
    background-color: rgb(57, 134, 235);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 7px 10px;
    text-decoration: none;
}

#apps {
    height: 25px;
    width: 25px;
    opacity: 0.5;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    width: 250px;
}

form {
    position: relative;
    margin: 0 auto;
    width: 450px;
    padding-top: 20px;
}

#search-text {
    position: absolute;
    width: 450px;
    border: 0.5px solid rgba(120,120,120,0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 13px 44px;
    background-image: url('../images/glass.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#search-text:hover, #search-text:focus {
    box-shadow: 2px 2px 2px 2px rgba(120,120,120,0.2);
    border: none;
}

.button {
    text-align: center;
    margin-top: 70px;
}

input[type=button] {
    background-color: rgba(120,120,120,0.1);
    padding: 10px 20px;
    cursor: pointer;
    border: 0.5px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: rgba(73, 73, 73, 0.9);
    margin-right: 5px;
    margin-left: 5px;
}

input[type=button]:hover {
    background-color: rgba(250, 250, 250, 0.8);
    border: 0.5px solid rgba(120,120,120,0.5);
    border-radius: 4px;
}